/* SPDX-License-Identifier: MIT */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        launch_calc_search: launch_calc_search {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            tap-ms = <60>;
            wait-ms = <100>;
            bindings =
                <&kp LG(R)>,
                <&macro_wait_time 300>,
                <&kp C &kp A &kp L &kp C>,
                <&macro_wait_time 500>,
                <&kp ENTER>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        /* 5 columns x 6 rows = 30 bindings per layer */

        default_layer {
            display-name = "BASE";
            bindings = <
&kp K_CALCULATOR  &bt BT_CLR_ALL  &trans      &trans         &trans
&kp LC(Z)         &kp LS(N9)      &kp LS(N0)  &kp KP_DIVIDE  &kp KP_MULTIPLY
&kp LC(V)         &kp N7          &kp N8      &kp N9         &kp KP_MINUS
&kp LC(C)         &kp N4          &kp N5      &kp N6         &kp KP_PLUS
&kp DEL           &kp N1          &kp N2      &kp N3         &kp KP_ENTER
&kp BSPC          &kp KP_N0       &kp COMMA   &kp KP_DOT     &kp KP_ENTER
            >;
        };

        ble_layer {
            display-name = "BLE";
            bindings = <
&kp C_AL_CALCULATOR  &bt BT_PRV  &bt BT_NXT  &bt BT_CLR  &trans
&trans               &trans      &trans      &trans      &trans
&trans               &trans      &trans      &trans      &trans
&trans               &trans      &trans      &trans      &trans
&trans               &trans      &trans      &trans      &trans
&trans               &trans      &trans      &trans      &trans
            >;
        };
    };
};
