/* SPDX-License-Identifier: MIT */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        launch_calc_search: launch_calc_search {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            tap-ms = <60>;
            wait-ms = <100>;
            bindings =
                <&kp LG(R)>,
                <&macro_wait_time 300>,
                <&kp C &kp A &kp L &kp C>,
                <&macro_wait_time 500>,
                <&kp ENTER>;
        };
    };

  keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "BASE";
            bindings = <
    /* R0 */ &trans &trans &trans &trans &trans
    /* R1 */ &trans &trans &trans &trans &trans
    /* R2 */ &trans &trans &trans &trans &trans
    /* R3 */ &trans &trans &trans &trans &trans
    /* R4 */ &trans &bt BT_CLR &trans &trans &trans   /* <-- R4C1 = P0.08 ↔ P1.06 */
    /* R5 */ &trans &trans &trans &trans &trans
            >;
        };
    };
};
