/*
 * Copyright (c) 2024
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>       /* BT_* */
#include <dt-bindings/zmk/outputs.h>  /* OUT_* */

/ {
    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "BASE";
            bindings = <
                /* Row 0 — Controls */
                /* USB↔BLE */  &out OUT_TOG    /* BT prev */  &bt BT_PRV
                /* BT next */  &bt BT_NXT      /* BT clear */ &bt BT_CLR
                /* Soft Off */  &soft_off

                /* Row 1 */
                &trans           &kp KP_NUM       &kp KP_DIVIDE   &kp KP_DIVIDE   &kp KP_MULTIPLY
                /* Row 2 */
                &trans           &kp N7           &kp N8          &kp N9          &kp KP_MINUS
                /* Row 3 */
                &trans           &kp N4           &kp N5          &kp N6          &kp KP_PLUS
                /* Row 4 */
                &kp DEL          &kp N1           &kp N2          &kp N3          &kp KP_ENTER
                /* Row 5 */
                &kp BSPC         &kp KP_N0        &reset          &kp KP_DOT      &bootloader
            >;
        };
    };
};
