/* Battery sensing for nice!nano v2 (measures VDD) */

&adc {            /* make sure the SAADC is enabled */
    status = "okay";
};

 / {
    /* Create a battery device */
    vbatt: vbatt {
        compatible = "zmk,battery-nrf-vdd";
        status = "okay";
    };

    /* Let ZMK find it two ways (covers all code paths) */
    aliases {
        battery = &vbatt;
    };

    chosen {
        zmk,battery = &vbatt;
    };
};
